.sideBar {
  display: flex;
  align-items: start;
  flex-direction: column;
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.sideBar__name {
  font-size: 20px;
  margin-top: 16px;
  color: #2f71e5;
}

.sidebar__button {
  border-width: 0;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
}
